h1 {
    font-family: "Oswald", sans;
}

h2 {
    font-family: "Oswald", sans; 
}

body {
    font-family: "Open Sans", sans;
    color: white;
    margin: 10px 50px 10px 50px;
    width: 950px;
    background-color: black;
}

img {
    float: left;
}


ul {
    list-style-type: none;
}

li {
    display: inline;
}

#navbar a {
    margin-left: 10px;
    margin-right: 10px;
}